<!-- Header Template -->
<%- include('partials/header'); -%>

<!-- Render all the elements in the post array collection -->
<h1> <%= title %> </h1>
<p> <%= content %> </p>


<!-- Footer Template -->
<%- include('partials/footer'); -%>
