<!-- Header Template -->
<%- include('partials/header'); -%>

<!-- Render all the elements in the post array collection -->
<h1> <%= postTitle %> </h1>
<p> <%= postBody %> </p>


<!-- Footer Template -->
<%- include('partials/footer'); -%>
